.honors-hero-widget {
  min-height: 697px;
  height: 679px;
  position: relative!important;
}
/* Hero Image */
.hero-image {
  width: 80%;
  height: 697px;
  position: absolute;
  top: 0;
  left: 30%;
  z-index: 1;
  background-size: cover;
  background-position: center;
}

/* Red Box */
.red-box {
  background-color: #be0000;
  color: white;
  padding: 185px 150px;
  max-width: 590px;
  width: 590px;
  height: auto;
  text-align: left;
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0px 20px 20px 0px;
  display: inherit;
  /* Centering logic */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background-size: contain;
  background-repeat: no-repeat;
}

/* Overlay (only applies to red-box) */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 1;  /* Overlay behind text */
  background-position: center center; /* Default */
  background-size: cover;
  background-repeat: no-repeat;
}


/* Red Box Content */
.red-box-content {
  position: relative;
  z-index: 2;
  width: 380px;
}

/* Title inside Red Box */
.red-box h3 {
  font-size: 2.25rem;
  margin-bottom: 10px;
  color: white;
}

/* Paragraph inside Red Box */
.red-box p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
  max-width: 100%;
}

/* Arrow Icon */
.arrow-icon {
  display: inline-block;
  font-size: 1.5rem;
  height: 31px;
  width: 30px;
  transition: transform 0.3s ease;
}
@keyframes bob {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

/* Trigger the animation on hover */
.arrow-icon:hover {
  animation: bob 0.6s ease-in-out infinite;
}

@media screen and (min-width: 780px) and (max-width: 1025px) {
  .red-box {
    width: 350px;
  height: 285px!important;

  }
  .red-box-content {
    width: auto!important;
  }

}


  @media (max-width: 780px) {
    .honors-hero-widget {
      min-height: 600px;
      height: 600px;
      position: relative!important;
    }
    .hero-image {
      width: 100%;
      height: 300px;
      position: relative;
      top: 0;
      left: 0;
    }


    .red-box {
      position: relative;
      width: 100%;
      top: 20%;
      left: auto;
      padding: 30px;
      box-sizing: border-box;
      border-radius: 0px;
      max-width: 100%;
      background-size: cover!important;
    }


    .red-box-content {
      width: 100%;


    .red-box h3 {
      font-size: 1.5rem;
    }


    .red-box p {
      font-size: 0.9rem;
    }


    .arrow-icon {
      font-size: 1.2rem;
      height: 30px;
      width: 30px;
    }
  }

}
